<div class="bootstrap-warpper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center ">
        <mat-card>
          
            <div class="" *ngFor="let task of tasks">
              <mat-card-title>
                  <h2>{{ task.taskName }}</h2>
              </mat-card-title>
              <mat-card-content>
                <h3>{{task.discription}}</h3>
                <button mat-raised-button (click)="deleteTask(task.taskName)">Delete Task</button>

              </mat-card-content>
              <mat-card-footer>---------------------------------------------------------------</mat-card-footer>
              
            </div>
           


          </mat-card>
          <br>
          <button  mat-raised-button color="primary" routerLink="/add-task"> Add Task </button>
          <br><br>
          <button  mat-raised-button color="warn" routerLink="/"> Logout </button>
      </div>
    </div>
  </div>
</div>

  
 